// VcA-Colors
$main-color: #008fc3;
$primary-light: #b8d8ea;
$primary-dark: #002e6d;
$secondary-light: #55c0e9;
$secondary-dark: #03558c;

// ARTS-Colors
$arts-primary: #f77c3a;
$arts-secondary: #fb4202;
$arts-light: #fae0af;

$white: #ffffff;
$grey: #cccccc;
$grey-dark: #aaaaaa;
$red: #f12222;
$red-dark: #b50846;
$green: #33af50;
$green-dark: #559955;
$yellow: #ffe500;
$yellow-dark: #ffe500;
$orange-light: #ffaf42;
$orange: #ff5522;
$orange-dark: #fb4202;

$blue-dark: #343a40;

$black: #0c030aff;
$white: #ffffffff;
$strokeGrey: #ebebe6ff;
$midGrey: #41413cff;
$lightGrey: #7d7d78ff;

$auga-pink: #ED7BAB;

$transition: all 0.25s;
