@import './media-queries';

@mixin fontStyleBodytext {
    font-size: 16px;
    text-decoration: none;
    font-family: 'roboto_slab';
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 24px;
}

@mixin fontStyleBodytextBold {
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 24px;
}

@mixin fontStyleBodytextSmall {
    font-size: 13px;
    text-decoration: none;
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 20px;
}

@mixin fontStyleHeadlineXLarge {
    font-family: Veneer, 'Veneer', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    margin: 10px 0;
    letter-spacing: 0px;
    line-height: 40px;

    @include md() {
        font-size: 40px;
        line-height: 44px;
    }
}
@mixin fontStyleHeadlineLarge {
    font-family: Veneer, 'Veneer', sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    margin: 10px 0;
    letter-spacing: 0px;
    line-height: 36px;

    @include md() {
        font-size: 36px;
        line-height: 40px;
    }
}

@mixin fontStyleHeadlineMedium {
    font-family: Veneer, 'Veneer', sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    margin: 7px 0;
    letter-spacing: 0px;
    line-height: 1;

    @include md() {
        font-size: 32px;
    }
}

@mixin fontStyleHeadlineSmall {
    font-family: Veneer, 'Veneer', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin: 7px 0;
    letter-spacing: 0px;
    line-height: 1.13;
    @include md() {
        font-size: 28px;
    }
}
