@import '../styles/';

.Button {
    @include fontStyleBodytext();

    height: 60px;
    appearance: none;
    border: none;
    padding: 20px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    width: 100%;
    transition: background-color 0.2s ease-out;
    align-items: center;
    justify-content: center;
    color: $white;

    box-sizing: border-box;
    border-radius: 15px;

    position: relative;
    font-weight: 700;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    flex-wrap: nowrap;

    @include md {
        display: inline-flex;
        width: auto;
    }
}
.Button--solid {
    border: 1px solid transparent;
    background-color: $main-color;
    transition: all 0.2s ease-out;
    &:not(.Button--isLoading):not(.Button--disabled) {
        &:hover,
        &:active {
            transform: scale(1.1);
        }
    }
}
.bg-orange {
    background-color: $arts-primary;
}
.bg-dark {
    background-color: $primary-dark;
}
.agua-pink {
    background-color: $auga-pink;
}
.Button__label {
    position: relative;
    z-index: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
}
